{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<SEPARATOR>",
    "<THIRD_PARTY_MODULES>",
    "<SEPARATOR>",
    "^@nestjs/(.*)$",
    "<SEPARATOR>",
    "^@config/(.*)$",
    "<SEPARATOR>",
    "^@database/(.*)$",
    "<SEPARATOR>",
    "^@shared/(.*)$",
    "<SEPARATOR>",
    "^@common/(.*)$",
    "<SEPARATOR>",
    "^(@modules)/(.*)/domain/entities/(.*)$",
    "^(@modules)/(.*)/domain/(.*)$",
    "<SEPARATOR>",
    "^(@modules)/(.*)/application/dtos/(.*)$",
    "^(@modules)/(.*)/application/usecases/(.*)$",
    "^(@modules)/(.*)/application/(.*)$",
    "<SEPARATOR>",
    "^(@modules)/(.*)/infrastructure/(.*)$",
    "<SEPARATOR>",
    "^(@modules)/(.*)/presentation/(.*)$",
    "<SEPARATOR>",
    "^(@modules)/(.*)/(.*)$",
    "<SEPARATOR>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortByLength": "asc",
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ]
}